EULA=FALSE

MINECRAFT_IMAGE=ghcr.io/dumdart/dockerizedminecraftserver:master
SERVER_PORT=25565

JAVA_XMS=2G
JAVA_XMX=4G
CONTAINER_MEMORY=5g

PUID=1000
PGID=1000
TZ=Europe/Oslo

BACKUP_INTERVAL_SECONDS=1800
BACKUP_RETENTION=48
